<div class="jumbotron">
  <h1 style="color: #5CB85C;">Дневник карпфишера</h1>
  <p class="lead">
        DiaryTrip Carpfishing сделает рыбалку удобной и наглядной. Систематизируйте свое хобби: карпфишинг может быть наглядным. Приложение DiaryTrip Carpfishing представляет собой полноценную «рыбацкую» библиотеку для хранения данных в электронном виде.
    </p>
  <p class="lead">
        Карпфишинг может не только собирать статистику с ваших выездов и соревнований, но и анализировать полученные результаты. Сравнивайте свои показатели с другими участниками, ищите новые популярные места, сохраняйте собственные результаты.
        Вопрос приватности в ваших руках. Вы сами можете выбрать какую информацию оставить для себя, а какую сделать общедоступной.
    </p>
  </p>
  <!--<p><a href="https://play.google.com/store/apps/details?id=eu.relsys.diaryfishingtrip">-->
    <!--<img alt="Get it on Google Play"-->
         <!--src="https://developer.android.com/images/brand/ru_generic_rgb_wo_60.png" />-->
  <!--</a></p>-->
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4 style="color: #5CB85C;"><b>Монитор</b></h4>
    <p>Занесение информации кликом по экрану вашего мобильного телефона, аналитика по насадкам, прикорму и активности рыбы в реальном времени.
    </p>

    <h4 style="color: #5CB85C;"><b>Помощь с оснастками</b> <span class="label label-danger">Скоро</span></h4>
    <p>Список популярных монтажей, рейтинг популярости, стратегия использования. Пошаговые инструкции и рекомендации по изготовлению оснасток. В картинках и с описанием.
    </p>

    <h4 style="color: #5CB85C;"><b>Помощь в выборе приманок</b> <span class="label label-danger">Скоро</span></h4>
    <p>Список самых популярных насадок с описанием. Узкопрофильная статистика по результативности той или иной приманки с привязкой к локации. </p>
  </div>

  <div class="col-lg-6">
    <h4 style="color: #5CB85C;"><b>Список локаций</b></h4>
    <p>Список излюбленных мест ловли с доской почета трофеев и возможностью выбирать с кем делиться данной информацией. И стоит ли делиться вообще.
    </p>

    <h4 style="color: #5CB85C;"><b>События</b> <span class="label label-danger">Скоро</span></h4>
    <p>Делайте важные пометки во время сессии, планируйте будущие поездки, задавайтесь целями, делитесь с друзьями и единомышленниками.
    </p>

    <h4 style="color: #5CB85C;"><b>Статистика</b> <span class="label label-danger">Скоро</span></h4>
    <p>Любая статистика по использованию удилищ, способов закорма, дистанции и глубине лова. Это лишь малая часть данных. Плюс к вашим услугам индивидуальный подбор статистических данных по просьбе на электронную почту. <%= mail_to "team@carpfishing.club" %> </p>
  </div>
</div>
