<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
<!--          <h1><%#= image_tag('logonew.png', :class => 'rotate') %></h1>-->
          <h1><%= image_tag('logonew.png') %></h1>

          <h3>Fun Fishing Team Blog</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="http://www.youtube.com/channel/UCnCpm_5bSFTVFc6vv3UfxXQ" target="_blank" class="btn-ytube">
                </a>
            </li>
            <li>
              <a href="https://www.instagram.com/funfishingteam/" target="_blank" class="btn-inst"></a>
            </li>
            <li>
              <a href="https://vk.com/funfishingteam" target="_blank" class="btn-vk"></a>
            </li>
            <li>
              <a href="/blog" class="btn btn-default btn-lg" style="float: left;"><i class="fa fa-github fa-fw"></i>
                <span class="network-name">Перейти в блог</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="services"></a>

<!-- /.content-section-b -->

<a name="portfolio"></a>
<div id="portfolio" class="no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
<% @photos.each do |photo| %>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="#">
          <%= image_tag photo.image.url(:to_main), :class => 'img-responsive' %>
          <!--<img class="img-responsive" alt="" src="img/portfolio/2.jpg">-->

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded"> <%= photo.title %></div>
              <div class="project-name"> <%= photo.description %></div>
            </div>
          </div>
        </a>
      </div>
<% end %>
    </div>
  </div>
</div>


<a name="contact"></a>
<div class="banner">

  <div class="container">



    <div class="row">
      <div class="col-lg-6">
        <h2>Написать на почту</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="mailto:team@carpfishing.club" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">nucl3ar@list.ru</span></a>
          </li>

        </ul>
      </div>
      <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
      <div class="col-xs-12 m-top">
      <!-- VK Widget -->
      <div id="vk_groups"></div>
      </div>
      <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 0, width: "auto", height: "300", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 99626502);
      </script>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.banner -->
