<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-3">
      <input type="text" class="form-control" id="inputLogin" placeholder="Логин">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Пароль">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-3">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Запомнить меня
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-3">
      <button id="sign_in" type="submit" class="btn btn-default">Войти</button>
    </div>
  </div>
</form>