

<div class="row">
  <% @team.each do |profile| %>
  <div class="col-sm-6 col-md-4">

    <div class="thumbnail">
      <%= image_tag profile.avatar.url(:avatar) %>
      <div class="caption">
        <h3><%= link_to profile.name, profile_url(profile) %></h3>
        <p><%= profile.small_description %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
