<% content_for :title, @profile.name %>
<% content_for :description, @profile.small_description %>
<% content_for :keywords, @profile.small_description %>

<h3><%= @profile.name %></h3>
<div class="row">
  <div class="col-xs-5 col-md-5"><%= image_tag @profile.avatar.url(:medium) %></div>
  <div class="col-xs-7 col-md-7">
    <h3><%= @profile.title %></h3>
    <p><b>Интересы - </b><%= @profile.interests %></p>
    <p><%= @profile.description %></p>
  </div>
</div>
<br/>

