<% content_for :title, 'Видео' %>
<%# content_for :description, @profile.small_description %>
<%# content_for :keywords, @profile.small_description %>
<div class="row">
  <div class="col-xs-12 video-container">
    <iframe src="https://www.youtube.com/embed/G4QwQfyJVJs" frameborder="0" allowfullscreen></iframe>
  </div>
</div>