<div class="row">
  <div class="col-xs-12 col-sm-8 blog-mine">

    <p>
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <span class="label label-success"> <%= link_to tag.name, tag_url(tag.name), :class => css_class %></span>
        <% end %>
    </p>

    <% @posts.each do |post| %>

        <div class="blog-post row">
          <div class="col-xs-12 col-sm-4" >
            <% if post.title_image.present?  %>
                <%= link_to image_tag( post.title_image.url(:medium), :class => 'img-responsive'), post_url(post) %>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-8" >
            <div class="page-header">
              <h3><%= link_to post.title, post %></h3>
            </div>
            <p><%= post.small_description %></p>
            <p>
              <% post.tag_list.each do |tag| %>
                  <span class="label label-success"><%= link_to tag, tag_url(tag) %></span>
              <% end %>
            </p>
            <span class="News Date"><%= link_to  post.blog_admin.name, profile_url(post.blog_admin) %> <%= Russian::strftime(post.created_at, "%d %b %Y") %></span>
          </div>
        </div>


    <% end %>

    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>

  <div class="col-xs-12 col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="row">
      <div class="col-xs-12 m-top">
        <!-- VK Widget -->
        <div id="vk_groups"></div>
      </div>
    </div>
    <script type="text/javascript">
      VK.Widgets.Group("vk_groups", {mode: 2, width: "auto", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 99626502);
    </script>

    <div class="sidebar-module">
      <% @articles_by_month.each do |monthname, articles| %>
          <h4><%= monthname %></h4>
      <ol class="list-unstyled">
        <% articles.each do |post| %>
            <li class="archive-post"><%= link_to post.title, post %></li>
        <% end %>
      </ol>
      <% end %>
    </div>


  </div>
</div>

