<% content_for :title, @post.title %>
<% content_for :description, @post.small_description %>
<% content_for :keywords, @post.small_description %>
<div class="row" style="padding-bottom: 20px;">
  <div class="col-xs-12">



<div class="header">
  <h3 class="media-heading"><%= @post.title %> -<small> <%= link_to @post.blog_admin.name, profile_url(@post.blog_admin) %> </small></h3>


  <p>
    <% @post.tag_list.each do |tag| %>
        <span class="label label-success"><%= link_to tag, tag_url(tag) %></span>
    <% end %>
  </p>


</div>



<div class="article_show" style="padding-bottom: 20px;">
  <%= @post.description.html_safe %>

  <script type="text/javascript" src="//yandex.st/share/share.js"
          charset="utf-8"></script>
  <div style="float: right; " class="yashare-auto-init" data-yashareL10n="ru"
       data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter">

   </div>
    </div>
  </div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'diarytrip'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>