<div class="row">
  <div class="col-xs-12 col-md-12">

    <p>
      <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <span class="label label-success"> <%= link_to tag.name, tag_url(tag.name), :class => css_class %></span>
      <% end %>
    </p>

    <% @posts.each do |post| %>

        <div class="blog-post">
          <div class="media">
            <a class="pull-left" href="<%= post_url(post) %>">
              <%= image_tag post.title_image.url(:medium) %>
            </a>

            <div class="media-body">
              <h4 class="media-heading"><%= link_to post.title, post %></h4>
              <p><%= post.small_description %></p>
              <p>
                <% post.tags.each do |tag| %>
                    <span class="label label-success"><%= link_to tag, tag_url(tag.name) %></span>
                <% end %>
              </p>
              <span class="News Date"><%= link_to  post.blog_admin.name, profile_url(post.blog_admin) %> <%= Russian::strftime(post.created_at, "%d %b %Y") %></span>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
