/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 */


body {
    padding-top: 50px;
}
.sub-header {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
}
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        background-color: #F5F5F5;
        border-right: 1px solid #EEEEEE;
        bottom: 0;
        display: block;
        left: 0;
        padding: 20px 20px 20px;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-sidebar > .active > a {
    background-color: #428BCA;
    color: #FFFFFF;
}
.main {
    padding: 40px;
    margin-left: 0px !important;
}
@media (min-width: 768px) {
    .main {
        padding-left: 40px;
        padding-right: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
}

.nav-sidebar > .active > a:hover {
    background-color: #428BCA !important;
    color: #FFFFFF;
}

.nav-sidebar > .active > a:focus {
    background-color: #428BCA !important;
    color: #FFFFFF;
}