// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{padding-top: 0px;}

.header.new_style{
  padding: 50px 50px 0px 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  text-align: center;
  color: #f8f8f8;
  background: url(image_path("sh.png")) no-repeat center center;
  background-size: cover;
}

.nav-pills > li > a{ border-radius: 0px;}

.label-success {
  background-color: #5cb85c;
  display: inline-block;
  margin-bottom: 4px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
  color: #fff;
  cursor: default;
  z-index: 2;
}

.article_show img{
  display: block;
  height: auto;
  max-width: 100%;
}

@media(max-width:767px){
  .navbar-toggle .icon-bar {
    background-color: #000;
  }

  .navbar-toggle {
    border: 1px solid #000000;
  }

  .header.new_style {
    background: none !important;
    padding:  0px;
  }

  .nav-pills > li {
    float: none;
    text-align: left;
  }

}

