<ul class="breadcrumb">
    <li class="active">Локации</li>
</ul>
<div class="row-fluid">
    <div class="span1"><a href="/#/locations/new" class="btn btn-primary">Добавить</a></div>

</div>
<br/>
<div class="row-fluid">
    <div class="span12">
        <table cellpadding="0" cellspacing="0" border="0" id="locations-table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>название</th>
                <th>Описание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</div>