<td><%= name %></td>
<td><%= description %></td>

<td>
    <a href="/#/locations/<%= objectId %>" class="glyphicon glyphicon-eye-open" ></a>
    <a href="/#/locations/<%= objectId %>/edit" class="glyphicon glyphicon-edit"></a>
    <a href="/#/locations/<%= objectId %>/destroy" class="glyphicon destroy glyphicon-remove"></a>
</td>