<td><%= username %></td>

<td>
    <a href="/#/users/<%= objectId %>" class="glyphicon glyphicon-eye-open" ></a>
    <a href="/#/users/<%= objectId %>/edit" class="glyphicon glyphicon-edit"></a>
    <a href="/#/users/<%= objectId %>/destroy" class="glyphicon destroy glyphicon-remove"></a>
</td>