<ul class="breadcrumb">
    <li class="active">Сессии</li>
</ul>

<br/>
<div class="row-fluid">
    <div class="span12">
        <table cellpadding="0" cellspacing="0" border="0" id="locations-table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>SessionID</th>
                <th>Начало</th>
                <th>Локация</th>
                <th>Пользователь</th>
                <th>Статус</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</div>