<div class="thumbnail">
    <div class="caption">

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <ul id="rod-info-<%= objectId %>" class="list-group">
                    <li class="list-group-item">
                        <span class="badge add-fish"></span>
                        Пойманно
                    </li>
                    <li class="list-group-item">
                        <span class="badge release-fish"></span>
                        Сошло
                    </li>
                    <li class="list-group-item">
                        <span class="badge null-fish"></span>
                        Пустых поклевок
                    </li>
                </ul>
            </div>
        </div>

        <p><b>Глубина - </b><%= depth %></p>

        <p><b>Дистанция - </b><%= distance %></p>

        <p><b>Прикорммка - </b><%= feed %></p>

        <p><b>Монтаж - </b><%= mounting %></p>

        <p><b>Насадка - </b><%= nozzle %></p>

        <p><%= is_pva ? "С использованием ПВА" : "Без ПВА" %></p>

        <p><a href="#/trip_sessions/<%= objectId %>/show-rod-chart" class="btn btn-primary" role="button">Просмотреть график по точке</a></p>
    </div>

</div>