<div class="page-header">
    <h1><%= createdAt.toString('dd.MM.yyyy') %>
        <small><%= is_active ? "Активная": "Завершонная"%></small>
    </h1>
    <p><a href="#/trip_sessions/<%= objectId %>/show-all-chart" class="btn btn-primary" role="button">Просмотреть график по сессии</a></p>
</div>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <ul id="session-info" class="list-group">
            <li class="list-group-item">
                <span class="badge add-fish"></span>
                Пойманно
            </li>
            <li class="list-group-item">
                <span class="badge release-fish"></span>
                Сошло
            </li>
            <li class="list-group-item">
                <span class="badge null-fish"></span>
                Пустых поклевок
            </li>
        </ul>
    </div>
</div>



<div id="roods-panel" class="row">
</div>

