<td><b>#<%= objectId %></b></td>
<td><%= createdAt %></td>
<td></td>
<td></td>
<td><%= is_active ? "Активная": "Завершонная"%></td>

<td>
    <a href="#/trip_sessions/<%= objectId %>" class="glyphicon glyphicon-eye-open" ></a>
    <a href="#/trip_sessions/<%= objectId %>/edit" class="glyphicon glyphicon-edit"></a>
    <a href="#/trip_sessions/<%= objectId %>/destroy" class="glyphicon destroy glyphicon-remove"></a>
</td>