
<div class="page-header">
  <h3>Водоёмы Пензенской области.</h3>
</div>

<div class="row">
<% @locations.each do |location| %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail location_block">
        <a href="http://iamfisher.ru/regions/<%= location['region_id'] %>/locations/<%= location['id'] %>" target="_blank" >

          <%
             url = 'http://iamfisher.ru/v1/location_image_json/' + location['id'].to_s
             uri = URI(url)
             response = Net::HTTP.get(uri)
          %>
          <img alt="<%= location['title'] %>" title="<%= location['title'] %>" src="http://iamfisher.ru/<%= response %>">
        </a>
        <div class="caption">
          <h4>
            <a href="http://iamfisher.ru/regions/<%= location['region_id'] %>/locations/<%= location['id'] %>" target="_blank" ><%= location['title'] %></a>
          </h4>

        </div>
      </div>
    </div>
<% end %>
</div>