<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DiaryTrip - Carpfishing</title>

  <%= stylesheet_link_tag "admin-application", media: "all", "data-turbolinks-track" => true %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin/#/">DiaryTrip</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/#/settings">Настройки</a></li>
        <li><a href="/admin/#/logout">Выход</a></li>

      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/admin/#/users/">Пользователи</a></li>
        <li><a href="/admin/#/locations/">Локации</a></li>
        <li><a href="/admin/#/baits/">Насадки</a></li>
        <li><a href="/admin/#/baits-categories/">Типы насадок</a></li>
        <li><a href="/admin/#/tackles/">Оснастки</a></li>
        <li><a href="/admin/#/tackles-categories/">Типы оснасток</a></li>
        <li><a href="/admin/#/trip-sessions/">Сессии</a></li>

      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <%= yield %>
    </div>
  </div>
</div>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>

