<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="rdWvj_TTJ0pnlK0WaCpPxp76rJaT_6a2c11XpXMs2vg"/>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Красивые отчёты с рыбалок где мы пытаемся поймать рыбу своей мечты. Показываем насколько интересной и увлекательной может быть ловля карпа." %>">
  <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : "карпфишинг, ловля карпа, рыбалка, карповая ловля, снасти на карпа, бойлы, как поймать карпа, карп, прикормка, бойл, бойлы, пеллетс, ликвид, обзор, монтаж, крючки, оснастка, грузила фан фишинг, ловить рыбу, рыболов, fox, century, delkim, jag, ridge monkey, solar, richworth, ccmoore, fun fishing, esp, gardner, kryston, pva" %>">
  <meta name="author" content="">
  <title><%= content_for?(:title) ? yield(:title) : "Отчёты с рыбалок. Карпфишинг." %></title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header clearfix new_style">
  <!--<ul class="nav nav-pills pull-right " >-->
  <!--<li class="active"><%#= link_to "Главная", root_url %></li>-->
  <!--<li> <%#= link_to "Личный кабинет", profile_root_url %></li>-->
  <!--</ul>-->
  <h3 class="text-muted pull-left hidden-xs" ><%= link_to image_tag('logonew.png', size: '200x235'), root_url %></h3>

<!--  <h3 class="pull-right hidden-xs"><%#= link_to image_tag('carpshop.png', :class => 'img-responsive carphouse'), 'http://carpshop.ru', target: '_blank' %></h3>-->


<div class="row" >
  <div class="col-xs-12">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <%= render_navigation %>
    </div>


  </div>
</div>
</div>
<div class="container">

  <!-- carpfishing.club -->
  <% if !Rails.env.development? %>

      <script type="text/javascript">
          google_ad_client = "ca-pub-2687456701853743";
          google_ad_slot = "1403500859";
          google_ad_width = 728;
          google_ad_height = 90;
      </script>
      <!-- carpfishing.club -->
      <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
  <% end %>
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

  <%= yield %>

  <div class="footer">
    <p>&copy; CarpFishing.Club 2014
      <% if Time.now.year != 2014 %> - <%= Time.now.year %>
      <% end %></p>
  </div>

</div>
<!-- /container -->





<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter25016279 = new Ya.Metrika({
                    id: 25016279,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
  <div><img src="//mc.yandex.ru/watch/25016279" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'diarytrip'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>
</html>

