<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="rdWvj_TTJ0pnlK0WaCpPxp76rJaT_6a2c11XpXMs2vg" />
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Карпфишинг как стиль жизни. Рыбалка нового поколения. Преследуем принцип “поймал-отпусти”, стараемся нести его в массы как и бережное отношение к природе" %>">
  <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : "карпфишинг, ловля карпа, рыбалка, карповая ловля, снасти на карпа, бойлы, удочки на карпа, сигнализаторы поклевки, карповые палатки, карповый интернет магазин, карповые снасти, ловля карпа, интернет магазин карповых снастей, фан фишинг, ловить рыбу, бойл, стул, раскладушка, спод, удилище, fox, century, delkim, jag, ridge monkey, solar, richworth, ccmoore, fun fishing, esp, gardner, kryston, pva" %>">
  <meta name="author" content="">
  <meta name="yandex-verification" content="d6def23859c99e21" />

  <title><%= content_for?(:title) ? yield(:title) : "Рыбалка. Карпфишинг - трофейная ловля карпа" %></title>

  <%= stylesheet_link_tag  "landing", media: "all", "data-turbolinks-track" => true %>
  <!-- Custom CSS -->

  <!-- Custom Fonts -->
  <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->


  <script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="#">CarpFishing.Club</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Блог', blog_url %>
        </li>
        <li>
          <%= link_to 'Водоёмы', "https://iamfisher.ru/regions/", target: '_blank' %>
        </li>
        <li>
          <%= link_to "Магазин", 'https://carptimeshop.ru/', target: '_blank' %>
        </li>
        <li>
          <%= link_to 'Контакты', '#contact' %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<%= yield %>


<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <%= link_to 'Главная', root_url %>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <%= link_to 'Блог', blog_url %>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="http://www.iamfisher.ru/" target="_blank">Рыбалка в Пензенской области</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; CarpFishing.Club 2014 <% if  Time.now.year != 2014  %> - <%= Time.now.year %><% end %>. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter25016279 = new Ya.Metrika({id:25016279,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25016279" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'diarytrip'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>



<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 99626502, {expanded: "1",tooltipButtonText: "Есть вопрос?"});
</script>
</body>

</html>
